<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="../../../images/warning_logo.png"/>
    <title>Are You In Danger?</title>

    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/style.css">
    <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/home/<%=user.email%>">Are You in Danger?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home/<%=user.email%>">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Log Out</a>
            </li>
          </ul>
          <!-- <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <br>
      <br>
      <div class="container">
        <h1 class="mt-5">Are You in Danger?</h1>
        <%if (incident_type==0){%>
            <p class="lead">Shooting #<%=incident_found.incidentkey%></p>
        <%}else if(incident_type==1){%>
            <p class="lead">Arrest #<%=incident_found.incidentkey%></p>
        <%}%>
        <%if (save_feedback==1){%>
            <div id="feedback" class = "positive">
              The data for this incident has been saved to your account.
            </div>
        <%}%>
        <div class="my-3 p-3 bg-white rounded shadow-sm" id=pleasework>
          <h6 class="border-bottom border-gray pb-2 mb-0">Incident Information</h6>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Incident Key:</strong>
              <%=incident_found.incidentkey%>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Latitude: </strong>
              <%=incident_found.latitude%>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Longitude: </strong>
              <%=incident_found.longitude%>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Date:</strong>
              <%=incident_found.occurdate%>
            </p>
          </div>
          <%if (incident_type==0){%>
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Death:</strong>
                <%=incident_found.death%>
              </p>
            </div>
          <%} else if (incident_type==1){%>
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Offense:</strong>
                <%=incident_found.offense%>
              </p>
            </div>
          <%}%>
        </div>
      </div>

      <div class="container">
        <button id ="save_incident_button" class="btn btn-secondary">Save Info</button>
        <p>Developed by: Tyler Masuyama, Brawner Quan, and Henry Shuster.</p>
      </div>
    </main>

    <style>
      #feedback{
        height: 22px;
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        padding:5px;
      }
      .negative {
        background-color: #ffb7b2;
        border-left-style: solid;
        border-color: red;
      }
      .positive {
        background-color: #abeab6;
        border-left-style: solid;
        border-color: green;
      }
      .hidden{
        display: none;
      }
      .visible{
        display:block;
      }
    </style>

    <script>
      document.getElementById("save_incident_button").addEventListener("click",function(){
        document.location.href = '/incident/<%=user.email%>/<%=user.latitude%>/<%=user.longitude%>/save';
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
